#form-body {
  background-color: #edf7fc;
  width: 100%;
  padding: 15px 10px;

  form {
    .label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .delete-icon {
        cursor: pointer;
        font-size: 16px;
      }
      .right-aside {
        .cancel-btn {
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
}
